.kanban-column {
  min-width: 300px;
}

.kanban-card {
  height: 100%;
  overflow-y: auto;
}

.kanban-task {
  cursor: grab;
  margin: 4px 0;
  padding: 8px;
  background-color: #0cc9d6d7;
}

.kanban-task:active {
  cursor: grabbing;
}

.background-container {
  height: 100vh;
  background-image: url('/monkey.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}